.wp-1,
.wp-2,
.wp-3 {
  opacity: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;

  .animated {
    opacity: 1;
  }
}

.wp-4 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
