/* -------------------------------------- */
/* PLANS */
/* -------------------------------------- */

.section-plans {
  background-color: $grey;
}
.plan-box {
  background-color: $white;
  border-radius: 5px;
  width: 90%;
  margin-left: 5%;
  -webkit-box-shadow: 0 2px 2px #efefef;
  box-shadow: 0 2px 2px #efefef;

  div {
    padding: 15px;
    border-bottom: 1px solid #ebebeb;

    &:first-child {
      background-color: #fafafa;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
    }

    &:last-child {
      text-align: center;
      border: 0;
    }
  }

  ul {
    list-style: none;

    li {
      padding: 5px 0;
    }
  }
}

.plan-price {
  font-size: 300%;
  margin-bottom: 10px;
  font-weight: 100;
  color: $primaryColor;

  span {
    font-size: 30%;
    font-weight: 300;
  }
}

.plan-price-meal {
  font-size: 80%;
}
